<div
    class="flex md:flex-row flex-col-reverse bg-black text-white py-4 items-center justify-between"
    id="wrap">
    <div class="flex flex-col items-center py-3 md:py-0 space-y-12 md:space-y-10 md:ml-2">
        <mat-form-field appearance="fill" class="w-full flex flex-col" id="wrap-text">
            <div class="flex flex-col items-center">
                <div
                    class="flex flex-row justify-around items-center pl-3 p-[2px] rounded-full bg-gradient-to-r from-sky-900 to-slate-600 hover:shadow-lg hover:shadow-slate-500/5 transition ease-in-out delay-50">
                    <mat-label
                        *ngIf="datepicker !== undefined"
                        class="text-md pl-2 pr-1"
                        >{{ 'chooseDateText' | translate }}</mat-label
                    >
                    <div class="hidden">
                        <input
                            matInput
                            [min]="millenium"
                            [matDatepicker]="datepicker"
                            name="singleDate"
                            [(ngModel)]="form.singleDate"
                            #singleDate="ngModel" />
                    </div>
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="datepicker"
                        class="datepicker-toggle-button"></mat-datepicker-toggle>
                </div>
                <p
                    *ngIf="
                        singleDateFormattedInverse === '' || singleDateFormatted === null
                    "
                    class="pt-2">
                    {{ today }}
                </p>
                <p *ngIf="singleDateFormattedInverse !== ''" class="pt-2">
                    {{ singleDateFormattedInverse }}
                </p>
            </div>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <div class="w-72 mt-4 flex flex-row justify-end space-x-2">
                        <button
                            class="px-3 text-slate-400 font-thin rounded-xl"
                            mat-button
                            matDatepickerCancel>
                            {{ 'cancel' | translate }}
                        </button>
                        <button
                            class="px-4 py-1 bg-sky-800 text-slate-100 font-thin rounded-2xl"
                            mat-raised-button
                            color="primary"
                            matDatepickerApply
                            (click)="catchDate()">
                            {{ 'accept' | translate }}
                        </button>
                    </div>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
    </div>

    <div class="flex flex-col md:flex-row justify-center items-center" id="wrap-button">
        <button
            class="w-40 m-4 p-[2px] rounded-full bg-gradient-to-r from-sky-900 to-slate-600 hover:shadow-lg hover:shadow-slate-500/5 transition ease-in-out delay-50"
            (click)="dateMode()">
            <span class="block text-slate-100 text-sm px-4 py-2 rounded-full bg-black">{{
                'simulationmodeButton' | translate
            }}</span>
        </button>

        <button
            class="w-40 m-4 p-[2px] rounded-full bg-gradient-to-l from-sky-900 to-slate-600 hover:shadow-lg hover:shadow-slate-500/5 transition ease-in-out delay-50"
            *ngIf="!showOrbit"
            (click)="orbits()">
            <span class="block text-slate-100 text-sm px-4 py-2 rounded-full bg-black">{{
                'orbitsShowButton' | translate
            }}</span>
        </button>
        <button
            class="w-40 m-4 p-[2px] rounded-full bg-gradient-to-l from-sky-900 to-slate-600 hover:shadow-lg hover:shadow-slate-500/5 transition ease-in-out delay-50"
            *ngIf="showOrbit"
            (click)="orbits()">
            <span class="block text-slate-100 text-sm px-4 py-2 rounded-full bg-black">{{
                'orbitsHideButton' | translate
            }}</span>
        </button>
    </div>
</div>
<app-planet-tile
    *ngIf="planetName !== undefined"
    englishName="{{ planetName.englishName }}"
    massValue="{{ planetName.massValue }}"
    massExponent="{{ planetName.massExponent }}"
    meanRadius="{{ planetName.meanRadius }}"
    averageTemperature="{{ planetName.avgTemp }}"
    moons="{{ planetName.moons }}"
    sideralRotation="{{ planetName.sideralRotation }}"
    perihelion="{{ planetName.perihelion }}"
    aphelion="{{ planetName.aphelion }}"
    semimajorAxis="{{ planetName.semimajorAxis }}"
    sideralOrbit="{{ planetName.sideralOrbit }}">
</app-planet-tile>
