<div
  class="flex md:flex-row flex-col bg-black text-white py-4 items-center justify-center"
>
  <button
    class="w-40 m-4 p-[2px] rounded-full bg-gradient-to-r from-sky-900 to-slate-600 hover:shadow-lg hover:shadow-slate-500/5 transition ease-in-out delay-50"
    matTooltip="Info about the action"
    disabled
  >
    <span
      class="block text-slate-100 text-sm px-4 py-2 rounded-full bg-black font-[Lato]"
      >Date mode</span
    >
  </button>

  <div
    class="flex flex-col w-full md:w-1/2 items-center py-3 md:py-0 space-y-12 md:space-y-10 md:mx-32"
  >
    <p class="font-[Lato]">Simulation speed control (days per second)</p>
    <ngx-slider
      [(value)]="value"
      [options]="options"
      (click)="changeSpeed(value)"
    >
    </ngx-slider>
  </div>

  <button
    class="w-40 m-4 p-[2px] rounded-full bg-gradient-to-l from-sky-900 to-slate-600 hover:shadow-lg hover:shadow-slate-500/5 transition ease-in-out delay-50"
    (click)="orbits()"
    *ngIf="!orbitTraceFlag"
  >
    <span
      class="block text-slate-100 text-sm px-4 py-2 rounded-full bg-black font-[Lato]"
      >Show orbits</span
    >
  </button>
  <button
    class="w-40 m-4 p-[2px] rounded-full bg-gradient-to-l from-sky-900 to-slate-600 hover:shadow-lg hover:shadow-slate-500/5 transition ease-in-out delay-50"
    (click)="orbits()"
    *ngIf="orbitTraceFlag"
  >
    <span
      class="block text-slate-100 text-sm px-4 py-2 rounded-full bg-black font-[Lato]"
      >Hide orbits</span
    >
  </button>
</div>
<app-planet-tile
  *ngIf="planetName"
  englishName="{{ planetName.englishName }}"
  massValue="{{ planetName.massValue }}"
  massExponent="{{ planetName.massExponent }}"
  meanRadius="{{ planetName.meanRadius }}"
  averageTemperature="{{ planetName.avgTemp }}"
  moons="{{ planetName.moons }}"
  sideralRotation="{{ planetName.sideralRotation }}"
  perihelion="{{ planetName.perihelion }}"
  aphelion="{{ planetName.aphelion }}"
  semimajorAxis="{{ planetName.semimajorAxis }}"
  sideralOrbit="{{ planetName.sideralOrbit }}"
>
</app-planet-tile>
