@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

.mat-tab-label {
  color: #bae6fd;
}

.mat-tab-label-active {
  border-bottom: 2px solid #bae6fd;
}

ngx-slider {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
  width: 100% !important;
}
.ngx-slider-bar {
  background-color: #64748b !important;
}
.ngx-slider-pointer {
  background-color: #334155 !important;
}
@media only screen and (max-width: 400px) {
  ngx-slider {
    width: 90% !important;
  }
}

@media only screen and (max-width: 800px) {
  ngx-slider {
    width: 150%;
  }
}

body {
  overflow-x: hidden !important;
  background-color: black;
}
